.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.cart-container {
    background-color: #FFE0B3;
}

.pagination button {
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid gray;

}

.pagination .selected {

    background-color: orange;
}