.review-item {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;

    display: flex;
}

.review-item img {
    width: 91px;

}

.review-item-details p {
    margin: 0px;
}

.review-item-details-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.delete-button {
    background-color: rgba(235, 87, 87, 0.3);
    border: none;
    height: 55px;
    width: 55px;
    border-radius: 50%;

}

.delete-container {
    display: flex;
    align-items: center;

}

.delete-icon {
    color: #EB5757;
    font-size: 27px;

}